/* Navbar styling */
/* Navbar styling */
.navbar {
    position: sticky; /* Navbar scrolls with the content */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 182, 193, 0); /* Pink translucent background */
    z-index: 1000;
    transition: background-color 0.3s ease;
}


/* Logo and title container */
.navbar-logo-title {
    display: flex;
    align-items: center;
}

/* Logo styling */
.navbar-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #FFB6C1;
}

/* Title styling */
.navbar-title {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

/* Drawer open styles */
.drawer-open .navbar-title {
    color: black;
}

.drawer-open .menuButton div {
    background-color: black;
}

/* Desktop links styling */
.nav-links {
    list-style-type: none;
    display: flex; /* Flexbox for horizontal layout */
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: grey;
}

/* Mobile Drawer Menu (hamburger icon) */
.menuButton {
    font-size: 28px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    z-index: 1001;
}

.menuButton div {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.menuButton.active .bar1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.menuButton.active .bar2 {
    opacity: 0;
}

.menuButton.active .bar3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Drawer Menu (for mobile) */
.drawer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFB6C1;
    padding: 20px;
    display: none;
    transition: all 0.3s ease;
}

.drawer.open {
    display: block;
}

.drawer-nav-links {
    list-style: none;
    padding: 0;
}

.drawer-nav-links li {
    margin-bottom: 20px;
}

.drawer-nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.drawer-nav-links li a:hover {
    color: grey;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .menuButton {
        display: flex; /* Show the hamburger menu on mobile */
    }

    .nav-links {
        display: none; /* Hide links on mobile */
    }
}

@media (min-width: 769px) {
    .nav-links {
        display: flex; /* Show links on desktop */
    }
}



